extends layout

block content
  .folders-container
    h1 Carpetas
    ul.folders-list
      each folder in folders
        li.folder-item
          a(href=`/folders/${folder.id}`)= folder.name
    a.btn.btn-primary(href='/folders/new') Crear nueva carpeta
