extends layout

block content
  .login-container
    h1 Iniciar Sesi칩n
    if messages.error
      .alert.alert-danger
        each val in messages.error
          p= val
    if messages.success
      .alert.alert-success
        each val in messages.success
          p= val
    form(action='/iniciar-sesion' method='POST')
      .form-group
        label(for='email') Correo electr칩nico:
        input(type='email' name='email' class='form-control' required)
      .form-group
        label(for='password') Contrase침a:
        input(type='password' name='password' class='form-control' required)
      button(type='submit' class='btn btn-primary') Iniciar Sesi칩n
