extends layout

block content
  h1 Iniciar Sesi칩n
  if messages.error
    p.error= messages.error
  form(action="/iniciar-sesion" method="POST")
    div
      label(for="email") Correo Electr칩nico:
      input(type="email" name="email" required)
    div
      label(for="password") Contrase침a:
      input(type="password" name="password" required)
    button(type="submit") Iniciar Sesi칩n
