doctype html
html
  head
    title #{title}
    link(rel='preconnect' href='https://fonts.googleapis.com')
    link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
    link(href='https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap' rel='stylesheet')
    link(rel='stylesheet', href='/css/main.css')
    link(rel='stylesheet', href='/css/forms.css')
    link(rel='icon', href='/images/favicon.png')
    script(src='https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js')
  body
    nav
      ul.nav-list
        li.nav-item.logo
          a(href='/')
            img(src='/images/a-note-tado.png')
        if !user
          li.nav-item: a(href='/iniciar-sesion') Iniciar Sesión
          li.nav-item: a(href='/registrarse') Registrarse
        else
          li.nav-item: a(href='/notes') Notas
          li.nav-item: a(href='/folders') Ver Carpetas
          li.nav-item: a(href='/logout') Cerrar Sesión
    .container
      block content
    script(src='/scripts/main.js')
    script(src='/scripts/fetchData.js')
