extends layout

block content
  .container.new-folder-container
    h1= title
    if messages.error
      p.error= messages.error
    if messages.success
      p.success= messages.success
    form(action='/folders/new' method='POST')
      .form-group
        label(for='name') Nombre de la Carpeta:
        input.form-control(type='text' name='name' required)
      button.btn.btn-primary(type='submit') Crear Carpeta
