extends layout

block content
  .register-container
    h1 Registrarse
    if messages.error
      .alert.alert-danger
        each val in messages.error
          p= val
    if messages.success
      .alert.alert-success
        each val in messages.success
          p= val
    form(action='/registrarse' method='POST')
      .form-group
        label(for='username') Nombre de usuario:
        input(type='text' name='username' class='form-control' required)
      .form-group
        label(for='email') Correo electrónico:
        input(type='email' name='email' class='form-control' required)
      .form-group
        label(for='password') Contraseña:
        input(type='password' name='password' class='form-control' required)
      button(type='submit' class='btn btn-primary') Registrarse
